<div class="container margin-top">
  <h1 class="text-center">Broken link</h1>
  <h2 class="text-center">Hmm that URL does not exist</h2>
  <img src="https://media.giphy.com/media/NTY1kHmcLsCsg/giphy.gif" width="480" height="398" frameBorder="0" alt="sad face img" />
</div>
