<div class="container">
  <p>
    <strong>Short URL:</strong>
    <%= @shortlink.short_url %>
  </p>

  <p>
    <strong>Long URL:</strong>
    <%= @shortlink.long_url %>
  </p>

  <%= link_to 'Edit', edit_shortlink_path(@shortlink) %> |
  <%= link_to 'Back', shortlinks_path %>
</div>
