// Place all the styles related to the Shortlinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Lato', 'Helvetica', sans-serif;
}

h1 {
  font-weight: 700;
}

.margin-top {
  margin-top: 2em;
}

.margin-bot {
  margin-bottom: 2em;
}

/***** TABLE *****/


/***** FOOTER *****/
.copyright-text {
  color: #bbb;
}

/***** NEW URL *****/
.orig-url-field {
  width: 100%;
  font-size:0.9em;
}

/***** ALERTS *****/
// .alert {
//   margin-top: 20px;
// }

/***** DESKTOP ONLY *****/
@media only screen and (min-width: 768px) {

  body {
    font-size:18px;
  }

  .content-container {
    margin-top:20px;
  }

  .navbar-nav, .navbar-header {
    display: flex;
    align-items: center;
  }

  .navbar-brand {
    // margin-top to center vertically (should be same margin as cta)
    margin-top: 10px;
  }

  .navbar-nav li {
    // display:none;
    margin-left: 5px;
    margin-right: 5px;
  }

  .navbar-nav .cta {
    margin: 15px;
  }

  .cta {
    color:white !important;
    background-color:#337ab7 !important;
    border-radius:5px;
    padding-top:10px !important;
    padding-bottom:10px !important;
  }

  .cta:hover, .cta:active {
    color:#337ab7 !important;
    background-color:white !important;
  }

}
