// Place all the styles related to the Shortlinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Lato', 'Poppins', 'Helvetica', sans-serif;
}

h1 {
  font-weight: 700;
  margin-bottom:0.8em;
}

.margin-top {
  margin-top: 2em;
}

.margin-bot {
  margin-bottom: 2em;
}

/***** NAVBAR *****/
.navbar-brand {
  font-weight: 500;
  font-size:1.1em;
  color:#e8e8e8 !important;
}

.navbar-brand:hover {
  color:white !important;
}

/***** TABLE *****/
.table-first-row {
  background-color: #f5f5f5;
}

/***** FOOTER *****/
.copyright-text {
  color: #bbb;
}

/***** INDEX *****/
.table-title-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-grow:
}

/***** NEW URL *****/
.orig-url-field {
  width: 100%;
  font-size:0.9em;
}

/***** SHORT URL *****/
.show-link-details {
  max-width:320px;
  margin-top:3em;
  margin-bottom:2em;
}

/***** DESKTOP ONLY *****/
@media only screen and (min-width: 768px) {

  body {
    font-size:18px;
  }

  .content-container {
    margin-top:20px;
  }

  .navbar-nav, .navbar-header {
    display: flex;
    align-items: center;
  }

  .navbar-brand {
    // margin-top to center vertically (should be same margin as cta)
    margin-top: 10px;
  }

  .navbar-nav li {
    // display:none;
    margin-left: 5px;
    margin-right: 5px;
  }

  .navbar-nav > .normal-li:hover {
      padding-bottom: .45em;
      border-bottom: 0.2em solid white;
      padding-top: .45em;
  }

  .navbar-nav .cta {
    margin: 15px;
  }

  .cta {
    color:white !important;
    background-color:#337ab7 !important;
    border-radius:5px;
    padding-top:10px !important;
    padding-bottom:10px !important;
    font-size: 1em;
  }

  .cta:hover, .cta:active {
    color:#337ab7 !important;
    background-color:white !important;
  }

  /***** SHOW URL *****/
  .show-link-details {
    max-width:450px;
  }

}
