// Place all the styles related to the Shortlinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Lato', 'Helvetica', sans-serif;
}

h1 {
  font-weight: 700;
}

.margin-top {
  margin-top:2em;
}

.margin-bot {
  margin-bottom: 1em;
}
