<!-- Footer -->
<div class="container">
  <hr>
  <footer>
      <div class="row">
          <div class="col-lg-12">
              <p class="text-center copyright-text">radl.inks was built with ♥ by <a href='http://github.com/nsafai' class="copyright-text">Nicolai Safai</a></p>
          </div>
      </div>
  </footer>
</div>
<!-- /.container -->
